- staticURL = CONFIG.staticURL
doctype html
head
  link(
      rel="stylesheet" 
      type="text/css" 
      href=staticURL+"/assets/css/ui-general.css"
  )

  link(
      rel="stylesheet" 
      type="text/css" 
      href=staticURL+"/assets/css/main.css"
  )

  title Doxygit
  meta(
      name="description"
      content="Generate doxygen documentation from code comments."
  )
body
    .header
      h3
        | Doxygit
    .body
      .home
        h2.punch-line
          span
            | Your documentation online in a click
          span.happy-face
            | :D
        - newdocURL = CONFIG.nodeURL + '/newdoc'
        form(accept-charset='UTF-8', action=newdocURL, method='post')
          div(style='margin: 0; padding: 0; display: inline;')
          .form-group
            label.repolabel
              | Enter a git repo url
            .repo-input-group
              .bookie
                img.bookie(src = staticURL+"/assets/images/bookie-black-bg.svg")
                input.form-control.repo-input(name='repositoryURL', placeholder='git@github.com:AntoineMoPa/doxygit.git')
              i.repo-input-validation-icon.fa
            .get-doc-cont
              button.btn.btn-primary.get-doc
                | Build documentation
    .footer
